@import "tailwindcss";


:root {
  --headerblue: #1D2846;
  --darkblue: #1D2846;

}

@theme inline {
  --color-headerblue: var(--headerblue);
  --color-darkblue: var(--darkblue);

}

html {
  scroll-behavior: smooth; 
}
